html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #000000;
  text-decoration: underline;
}
a:hover {
  color: #ffd747;
}
@media screen and (max-width: 1326px) and (min-width: 601px) {
  .macbook-pro-14----4,
  .macbook-pro-14----4 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----4 {
    background: #000000;
    width: 1326px;
    height: 861px;
    position: relative;
    overflow: hidden;
  }
  .rectangle-19 {
    background: #ffffff;
    border-radius: 30px;
    width: 84.19px;
    height: 46.47px;
    position: absolute;
    left: 49.11px;
    top: 489.24px;
  }
  .azienda-nel-settore-dal-2004--se-vuoi-scoprire-di-pi--premi {
    color: #ffffff;
    text-align: left;
    font: 700 32px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 49.11px;
    top: 330.55px;
    width: 479.71px;
    height: 105.21px;
  }
  .chevron-down-24 {
    position: absolute;
    left: 71.04px;
    top: 491.87px;
    transform: translate(0px, 0px);
    overflow: visible;
  }
  .rectangle-18 {
    background: #ffffff;
    border-radius: 15px;
    width: 1326px;
    height: 141.16px;
    position: absolute;
    left: 0px;
    top: -18.41px;
  }
  .marsica-security {
    color: #000000;
    text-align: left;
    font: 700 40px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 133.3px;
    top: 39.46px;
    width: 336.76px;
    height: 42.09px;
  }
  .chi-siamo {
    color: #000000;
    text-align: left;
    font: 400 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1017.3px;
    top: 49.98px;
    width: 94.71px;
    height: 21.04px;
  }
  .home {
    color: #000000;
    text-align: left;
    font: 400 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 764.73px;
    top: 49.98px;
    width: 57px;
    height: 21.04px;
  }
  .servizi {
    color: #000000;
    text-align: left;
    font: 400 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 888.38px;
    top: 49.98px;
    width: 62.27px;
    height: 21.04px;
  }
  .contattaci {
    color: #000000;
    text-align: left;
    font: 400 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1178.67px;
    top: 49.98px;
    width: 98.22px;
    height: 21.04px;
  }
  .logo {
    width: 66.65px;
    height: 77.16px;
    position: absolute;
    left: 35.96px;
    top: 21.92px;
  }
  .macbook-pro-14----3,
  .macbook-pro-14----3 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----3 {
    background: #000000;
    width: 1326px;
    height: 861.09px;
    position: relative;
    overflow: hidden;
  }
  .il-nostro-gruppo- {
    color: #ffffff;
    text-align: left;
    font: 700 36px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 46px;
    top: 485px;
    width: 291px;
    height: 45px;
  }
  .rectangle-25 {
    background: #fef9f3;
    width: 1326px;
    height: 441px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .iconly-bold-3-user {
    width: 32.45px;
    height: 31.57px;
    position: absolute;
    left: 346px;
    top: 491px;
  }
  ._3-user {
    position: absolute;
    left: 1.35px;
    top: 5.26px;
    overflow: visible;
  }
  .rectangle-44 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 53px;
    top: 144px;
  }
  .rectangle-28 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 169px;
    height: 229px;
    position: absolute;
    left: 474px;
    top: 144px;
  }
  .rectangle-29 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 169px;
    height: 229px;
    position: absolute;
    left: 684px;
    top: 144px;
  }
  .rectangle-30 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 894px;
    top: 144px;
  }
  .rectangle-31 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 1104px;
    top: 144px;
  }
  .rectangle-32 {
    background: #fef9f3;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 51px;
    top: 584px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-33 {
    background: #fef9f3;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 261px;
    top: 584px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-34 {
    background: #fef9f3;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 472px;
    top: 584px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-35 {
    background: #fef9f3;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 683px;
    top: 584px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-36 {
    background: #fef9f3;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 893px;
    top: 584px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-37 {
    background: #fef9f3;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 1104px;
    top: 584px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-38 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 84px;
    position: absolute;
    left: 51px;
    top: 584px;
  }
  .rectangle-45 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 85px;
    position: absolute;
    left: 53px;
    top: 144px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-27 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 170px;
    height: 229px;
    position: absolute;
    left: 263px;
    top: 144px;
  }
  .rectangle-46 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 85px;
    position: absolute;
    left: 263px;
    top: 144px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-47 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 169px;
    height: 85px;
    position: absolute;
    left: 474px;
    top: 144px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-48 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 169px;
    height: 85px;
    position: absolute;
    left: 684px;
    top: 144px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-49 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 85px;
    position: absolute;
    left: 894px;
    top: 144px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-50 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 85px;
    position: absolute;
    left: 1104px;
    top: 144px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-39 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 84px;
    position: absolute;
    left: 261px;
    top: 584px;
  }
  .rectangle-40 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 84px;
    position: absolute;
    left: 472px;
    top: 584px;
  }
  .rectangle-41 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 84px;
    position: absolute;
    left: 683px;
    top: 584px;
  }
  .rectangle-42 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 84px;
    position: absolute;
    left: 893px;
    top: 584px;
  }
  .rectangle-43 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 170px;
    height: 84px;
    position: absolute;
    left: 1104px;
    top: 584px;
  }
  .i-nostri-servizi- {
    color: #000000;
    text-align: left;
    font: 700 36px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 51px;
    top: 54px;
    width: 356px;
    height: 51px;
  }
  .portierato-diurno-e-notturno {
    color: #ffffff;
    text-align: left;
    font: 500 20px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 65px;
    top: 251px;
    width: 99px;
    height: 77px;
  }
  .controllo-accessi {
    color: #ffffff;
    text-align: left;
    font: 500 20px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 275px;
    top: 251px;
    width: 96px;
    height: 52px;
  }
  .steward-per-eventi {
    color: #ffffff;
    text-align: left;
    font: 500 20px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 489px;
    top: 251px;
    width: 124px;
    height: 52px;
  }
  .servizi-di-prevenzione-covid-19 {
    color: #ffffff;
    text-align: left;
    font: 500 20px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 701px;
    top: 251px;
    width: 126px;
    height: 77px;
  }
  .hostess-e-servizi-eventi-privati {
    color: #ffffff;
    text-align: left;
    font: 500 20px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 906px;
    top: 251px;
    width: 129px;
    height: 77px;
  }
  .servizi-antiincendi {
    color: #ffffff;
    text-align: left;
    font: 500 20px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1115px;
    top: 251px;
    width: 108px;
    height: 52px;
  }
  .operatori-qualificati-primo-soccorso {
    text-align: left;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 63px;
    top: 608px;
    width: 147px;
    height: 146px;
  }
  .operatori-qualificati-primo-soccorso-span {
    color: #ffffff;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-primo-soccorso-span2 {
    color: #000000;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto {
    text-align: left;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 274px;
    top: 608px;
    width: 151px;
    height: 73px;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto-span {
    color: #ffffff;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto-span2 {
    color: #000000;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-servizi-di-controllo-eventi {
    text-align: left;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 487px;
    top: 608px;
    width: 131px;
    height: 73px;
  }
  .operatori-qualificati-servizi-di-controllo-eventi-span {
    color: #ffffff;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-servizi-di-controllo-eventi-span2 {
    color: #000000;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-addetti-area-tecnica {
    text-align: left;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 701px;
    top: 608px;
    width: 140px;
    height: 96px;
  }
  .operatori-qualificati-addetti-area-tecnica-span {
    color: #ffffff;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-addetti-area-tecnica-span2 {
    color: #000000;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-bls---blsd {
    text-align: left;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 906px;
    top: 608px;
    width: 128px;
    height: 107px;
  }
  .operatori-qualificati-bls---blsd-span {
    color: #ffffff;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-bls---blsd-span2 {
    color: #000000;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .adetti-qualificati-safety--security-expert {
    text-align: left;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1115px;
    top: 608px;
    width: 148px;
    height: 171px;
  }
  .adetti-qualificati-safety--security-expert-span {
    color: #ffffff;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .adetti-qualificati-safety--security-expert-span2 {
    color: #000000;
    font: 500 20px/100% "Helvetica Neue", sans-serif;
  }
  .iconly-bold-shield-done {
    width: 39.46px;
    height: 39.46px;
    position: absolute;
    left: 313px;
    top: 56px;
  }
  .shield-done {
    position: absolute;
    left: 5.76px;
    top: 3.29px;
    overflow: visible;
  }

  .macbook-pro-14----2,
  .macbook-pro-14----2 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----2 {
    background: #000000;
    width: 1326px;
    height: 861.2px;
    position: relative;
    overflow: hidden;
  }
  .rectangle-61 {
    background: #fef9f3;
    width: 1326px;
    height: 419.2px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .rectangle-60 {
    background: #000000;
    border-radius: 40px;
    width: 5.26px;
    height: 211.35px;
    position: absolute;
    left: 415.69px;
    top: 162.24px;
  }
  .rectangle-62 {
    background: #000000;
    border-radius: 40px;
    width: 5.26px;
    height: 211.35px;
    position: absolute;
    left: 897.15px;
    top: 162.24px;
  }
  .iconly-bold-message {
    width: 50.87px;
    height: 50.87px;
    position: absolute;
    left: 637.57px;
    top: 293.79px;
  }
  .message {
    position: absolute;
    left: 4.24px;
    top: 6.36px;
    overflow: visible;
  }
  .come-trovarci {
    color: #ffffff;
    text-align: center;
    font: 700 32px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 547.24px;
    top: 462.17px;
    width: 231.52px;
    height: 37.71px;
  }
  .recapiti-telefonici-3899258449-3283077246 {
    color: #000000;
    text-align: center;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 51.74px;
    top: 177.15px;
    width: 319.22px;
    height: 181.54px;
  }
  .recapiti-telefonici-3899258449-3283077246-span {
    color: #000000;
    font: 700 24px "Helvetica Neue", sans-serif;
  }
  .recapiti-telefonici-3899258449-3283077246-span2 {
    color: #000000;
    font: 400 32px ".New York", sans-serif;
  }
  .recapiti-telefonici-3899258449-3283077246-span3 {
    color: #000000;
    font: 400 24px "Helvetica Neue", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com {
    color: #000000;
    text-align: center;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 477.96px;
    top: 177.15px;
    width: 369.21px;
    height: 94.71px;
  }
  .indirizzo-email-marsica-security21-gmail-com-span {
    color: #000000;
    font: 700 24px "Helvetica Neue", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com-span2 {
    color: #000000;
    font: 700 32px ".New York", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com-span3 {
    color: #000000;
    font: 400 24px "Helvetica Neue", sans-serif;
  }
  .lavora-con-noi-marsica-security21-gmail-com {
    color: #000000;
    text-align: center;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 936.62px;
    top: 177.15px;
    width: 369.21px;
    height: 115.76px;
  }
  .lavora-con-noi-marsica-security21-gmail-com-span {
    color: #000000;
    font: 700 24px "Helvetica Neue", sans-serif;
  }
  .lavora-con-noi-marsica-security21-gmail-com-span2 {
    color: #000000;
    font: 400 24px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq- {
    color: #ffffff;
    text-align: left;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 303.44px;
    top: 599.86px;
    width: 359.56px;
    height: 93.84px;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span {
    color: #ffffff;
    font: 700 24px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span2 {
    color: #ffffff;
    font: 700 32px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span3 {
    color: #ffffff;
    font: 400 24px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span4 {
    color: #ffffff;
    font: 500 24px "Helvetica Neue", sans-serif;
  }
  .marsica-security2 {
    color: #000000;
    text-align: center;
    font: 700 32px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 534.08px;
    top: 21.92px;
    width: 257.83px;
    height: 38.59px;
  }
  .iconly-bold-call {
    width: 32.45px;
    height: 32.45px;
    position: absolute;
    left: 88.58px;
    top: 239.42px;
  }
  .call {
    position: absolute;
    left: 3.38px;
    top: 3.38px;
    overflow: visible;
  }
  .iconly-bold-call2 {
    width: 32.45px;
    height: 32.45px;
    position: absolute;
    left: 92.08px;
    top: 298.17px;
  }
  .call2 {
    position: absolute;
    left: 3.38px;
    top: 3.38px;
    overflow: visible;
  }
  .iconly-bold-location {
    width: 43.85px;
    height: 43.85px;
    position: absolute;
    left: 210.48px;
    top: 677.03px;
  }
  .location {
    position: absolute;
    left: 6.39px;
    top: 3.65px;
    overflow: visible;
  }
  .per-domande-o-richieste-di-collaborazione-contattaci-direttamente-con-i-recapiti-qui-sotto-elencati- {
    color: #000000;
    text-align: center;
    font: 400 16px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 316.59px;
    top: 82.44px;
    width: 691.94px;
    height: 42.1px;
  }
  .iconly-bold-work {
    width: 47.36px;
    height: 47.36px;
    position: absolute;
    left: 1105px;
    top: 293.79px;
  }
  .work {
    position: absolute;
    left: 3.95px;
    top: 3.95px;
    overflow: visible;
  }
}
@media screen and (max-width: 4000px) and (min-width: 1326px) {
  .macbook-pro-14----4,
  .macbook-pro-14----4 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----4 {
    background-image: url("sfondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 94.5rem;
    height: 61.375rem;
    position: relative;
    overflow: hidden;
  }
  .rectangle-19 {
    background: #ffffff;
    border-radius: 1.875rem;
    width: 6rem;
    height: 3.313rem;
    position: absolute;
    left: 3.5rem;
    top: 34.875rem;
  }
  .azienda-nel-settore-dal-2004--se-vuoi-scoprire-di-pi--premi {
    color: #ffffff;
    text-align: left;
    font: 700 2.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 3.5rem;
    top: 23.563rem;
  }
  .chevron-down-24 {
    position: absolute;
    left: 5.063rem;
    top: 35.063rem;
    width: 2.875rem;
    height: 2.875rem;
    transform: translate(0rem, 0rem);
    overflow: visible;
  }
  .rectangle-18 {
    background: #ffffff;
    border-radius: 0.938rem;
    width: 94.5rem;
    height: 10.063rem;
    position: absolute;
    left: 0rem;
    top: -1.313rem;
  }
  .marsica-security {
    color: #000000;
    text-align: left;
    font: 700 3rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 9.5rem;
    top: 2.813rem;
  }
  .chi-siamo {
    color: #000000;
    text-align: left;
    font: 400 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 72.5rem;
    top: 3.563rem;
  }
  .chi-siamo a {
    color: #000000;
    text-decoration: none;
  }
  .chi-siamo a:hover {
    color: #ffd747;
  }
  .servizi {
    color: #000000;
    text-align: left;
    font: 400 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 63.313rem;
    top: 3.563rem;
  }
  .servizi a {
    text-decoration: none;
  }
  .contattaci {
    color: #000000;
    text-align: left;
    font: 400 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 84rem;
    top: 3.563rem;
  }
  .contattaci a {
    text-decoration: none;
  }
  .logo {
    width: 4.75rem;
    height: 5.5rem;
    position: absolute;
    left: 2.563rem;
    top: 1.563rem;
  }

  .macbook-pro-14----3,
  .macbook-pro-14----3 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----3 {
    background: #000000;
    width: 94.5rem;
    height: 61.375rem;
    position: relative;
    overflow: hidden;
  }
  .il-nostro-gruppo- {
    color: #ffffff;
    text-align: left;
    font: 700 2.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 3.188rem;
    top: 34.688rem;
    width: 22.688rem;
    height: 3.5rem;
  }
  .rectangle-25 {
    background: #fef9f3;
    width: 94.5rem;
    height: 31.313rem;
    position: absolute;
    left: 0rem;
    top: 0rem;
  }
  .iconly-bold-3-user {
    width: 3.125rem;
    height: 3.125rem;
    position: absolute;
    left: 23.75rem;
    top: 34.75rem;
  }
  ._3-user {
    position: absolute;
    left: 0.118rem;
    top: 0.469rem;
    overflow: visible;
  }
  .rectangle-44 {
    background: #2e2d2d;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 3.188rem;
    top: 166px;
  }
  .rectangle-28 {
    background: #2e2d2d;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 32.938rem;
    top: 166px;
  }
  .rectangle-29 {
    background: #2e2d2d;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 765px;
    top: 166px;
  }
  .rectangle-30 {
    background: #2e2d2d;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 1003px;
    top: 166px;
  }
  .rectangle-31 {
    background: #2e2d2d;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 1241px;
    top: 166px;
  }
  .rectangle-32 {
    background: #fef9f3;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 3.188rem;
    top: 40.688rem;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-33 {
    background: #fef9f3;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 289px;
    top: 40.688rem;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-34 {
    background: #fef9f3;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 32.938rem;
    top: 40.688rem;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-35 {
    background: #fef9f3;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 765px;
    top: 40.688rem;
    box-shadow: 5px 10px 4px 0rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-36 {
    background: #fef9f3;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 1003px;
    top: 40.688rem;
    box-shadow: 5px 10px 4px 0rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-37 {
    background: #fef9f3;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 1241px;
    top: 40.688rem;
    box-shadow: 5px 10px 4px 0rem rgba(0, 0, 0, 0.25);
  }
  .rectangle-38 {
    background: #2e2d2d;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 3.188rem;
    top: 40.688rem;
  }
  .rectangle-45 {
    background: #ffd747;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 3.188rem;
    top: 166px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-27 {
    background: #2e2d2d;
    border-radius: 1.25rem;
    width: 12rem;
    height: 16.188rem;
    position: absolute;
    left: 289px;
    top: 166px;
  }
  .rectangle-46 {
    background: #ffd747;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 289px;
    top: 166px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-47 {
    background: #ffd747;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 32.938rem;
    top: 166px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-48 {
    background: #ffd747;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 765px;
    top: 166px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-49 {
    background: #ffd747;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 1003px;
    top: 166px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-50 {
    background: #ffd747;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 1241px;
    top: 166px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .rectangle-39 {
    background: #2e2d2d;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 289px;
    top: 40.688rem;
  }
  .rectangle-40 {
    background: #2e2d2d;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 32.938rem;
    top: 40.688rem;
  }
  .rectangle-41 {
    background: #2e2d2d;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 765px;
    top: 40.688rem;
  }
  .rectangle-42 {
    background: #2e2d2d;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 1003px;
    top: 40.688rem;
  }
  .rectangle-43 {
    background: #2e2d2d;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    width: 12rem;
    height: 6rem;
    position: absolute;
    left: 1241px;
    top: 40.688rem;
  }
  .i-nostri-servizi- {
    color: #000000;
    text-align: left;
    font: 700 2.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 3.188rem;
    top: 3.375rem;
    width: 356px;
    height: 3.188rem;
  }
  .portierato-diurno-e-notturno {
    color: #ffffff;
    text-align: left;
    font: 500 1.5rem "Helvetica Neue", sans-serif;
    position: absolute;
    left: 65px;
    top: 287px;
    width: 112px;
  }
  .controllo-accessi {
    color: #ffffff;
    text-align: left;
    font: 500 1.5rem "Helvetica Neue", sans-serif;
    position: absolute;
    left: 303px;
    top: 287px;
    width: 108px;
  }
  .steward-per-eventi {
    color: #ffffff;
    text-align: left;
    font: 500 1.5rem "Helvetica Neue", sans-serif;
    position: absolute;
    left: 544px;
    top: 287px;
    width: 141px;
  }
  .servizi-di-prevenzione-covid-19 {
    color: #ffffff;
    text-align: left;
    font: 500 1.5rem "Helvetica Neue", sans-serif;
    position: absolute;
    left: 785px;
    top: 287px;
    width: 142px;
  }
  .hostess-e-servizi-eventi-privati {
    color: #ffffff;
    text-align: left;
    font: 500 1.5rem "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1017px;
    top: 287px;
    width: 145px;
  }
  .servizi-antiincendi {
    color: #ffffff;
    text-align: left;
    font: 500 1.5rem "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1253px;
    top: 287px;
    width: 123px;
  }
  .operatori-qualificati-primo-soccorso {
    text-align: left;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 65px;
    top: 678px;
    width: 166px;
    height: 165px;
  }
  .operatori-qualificati-primo-soccorso-span {
    color: #ffffff;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-primo-soccorso-span2 {
    color: #000000;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto {
    text-align: left;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 303px;
    top: 678px;
    width: 171px;
    height: 82px;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto-span {
    color: #ffffff;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto-span2 {
    color: #000000;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-servizi-di-controllo-eventi {
    text-align: left;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 544px;
    top: 678px;
    width: 147px;
    height: 82px;
  }
  .operatori-qualificati-servizi-di-controllo-eventi-span {
    color: #ffffff;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-servizi-di-controllo-eventi-span2 {
    color: #000000;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-addetti-area-tecnica {
    text-align: left;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 785px;
    top: 678px;
    width: 158px;
    height: 108px;
  }
  .operatori-qualificati-addetti-area-tecnica-span {
    color: #ffffff;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-addetti-area-tecnica-span2 {
    color: #000000;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-bls---blsd {
    text-align: left;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1017px;
    top: 678px;
    width: 145px;
  }
  .operatori-qualificati-bls---blsd-span {
    color: #ffffff;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-bls---blsd-span2 {
    color: #000000;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .adetti-qualificati-safety--security-expert {
    text-align: left;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 1253px;
    top: 678px;
    width: 171px;
    height: 95px;
  }
  .adetti-qualificati-safety--security-expert-span {
    color: #ffffff;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .adetti-qualificati-safety--security-expert-span2 {
    color: #000000;
    font: 500 1.5rem/100% "Helvetica Neue", sans-serif;
  }
  .iconly-bold-shield-done {
    width: 2.813rem;
    height: 2.813rem;
    position: absolute;
    left: 340px;
    top: 3.125rem;
  }
  .shield-done {
    position: absolute;
    left: 6.56px;
    top: 3.75px;
    overflow: visible;
  }

  .macbook-pro-14----2,
  .macbook-pro-14----2 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----2 {
    background: #000000;
    width: 94.5rem;
    height: 61.375rem;
    position: relative;
    overflow: hidden;
  }
  .mappa {
    position: absolute;
    left: 800px;
    top: 600px;
  }
  .mappa1 {
    width: 600px;
    height: 300px;
    border-radius: 2.5rem;
  }
  .rectangle-61 {
    background: #fef9f3;
    width: 94.5rem;
    height: 478px;
    position: absolute;
    left: 0rem;
    top: 0rem;
  }
  .rectangle-60 {
    background: #000000;
    border-radius: 2.5rem;
    width: 6px;
    height: 241px;
    position: absolute;
    left: 474px;
    top: 185px;
  }
  .rectangle-62 {
    background: #000000;
    border-radius: 2.5rem;
    width: 6px;
    height: 241px;
    position: absolute;
    left: 1023px;
    top: 185px;
  }
  .iconly-bold-message {
    width: 58px;
    height: 58px;
    position: absolute;
    left: 727px;
    top: 335px;
  }
  .message {
    position: absolute;
    left: 4.83px;
    top: 7.25px;
    overflow: visible;
  }
  .come-trovarci {
    color: #ffffff;
    text-align: center;
    font: 700 36px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 39rem;
    top: 32.938rem;
    width: 16.5rem;
    height: 2.688rem;
  }
  .recapiti-telefonici-3899258449-3283077246 {
    color: #000000;
    text-align: center;
    font: 400 0rem "undefined", sans-serif;
    position: absolute;
    left: 59px;
    top: 202px;
    width: 364px;
    height: 207px;
  }
  .recapiti-telefonici-3899258449-3283077246-span {
    color: #000000;
    font: 700 1.875rem "Helvetica Neue", sans-serif;
  }
  .recapiti-telefonici-3899258449-3283077246-span2 {
    color: #000000;
    font: 400 32px ".New York", sans-serif;
  }
  .recapiti-telefonici-3899258449-3283077246-span3 {
    color: #000000;
    font: 400 28px "Helvetica Neue", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com {
    color: #000000;
    text-align: center;
    font: 400 0rem "undefined", sans-serif;
    position: absolute;
    left: 545px;
    top: 202px;
    width: 421px;
    height: 108px;
  }
  .indirizzo-email-marsica-security21-gmail-com-span {
    color: #000000;
    font: 700 1.875rem "Helvetica Neue", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com-span2 {
    color: #000000;
    font: 700 32px ".New York", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com-span3 {
    color: #000000;
    font: 400 28px "Helvetica Neue", sans-serif;
  }
  .lavora-con-noi-marsica-security21-gmail-com {
    color: #000000;
    text-align: center;
    font: 400 0rem "undefined", sans-serif;
    position: absolute;
    left: 1068px;
    top: 202px;
    width: 421px;
    height: 132px;
  }
  .lavora-con-noi-marsica-security21-gmail-com-span {
    color: #000000;
    font: 700 32px "Helvetica Neue", sans-serif;
  }
  .lavora-con-noi-marsica-security21-gmail-com-span2 {
    color: #000000;
    font: 400 28px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq- {
    color: #ffffff;
    text-align: left;
    font: 400 0rem "undefined", sans-serif;
    position: absolute;
    left: 346px;
    top: 684px;
    width: 410px;
    height: 107px;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span {
    color: #ffffff;
    font: 700 32px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span2 {
    color: #ffffff;
    font: 400 28px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span3 {
    color: #ffffff;
    font: 500 28px "Helvetica Neue", sans-serif;
  }
  .marsica-security2 {
    color: #000000;
    text-align: center;
    font: 700 36px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 609px;
    top: 1.563rem;
  }
  .iconly-bold-call {
    width: 2.313rem;
    height: 2.313rem;
    position: absolute;
    left: 6.313rem;
    top: 273px;
  }
  .call {
    position: absolute;
    left: 3.85px;
    top: 3.85px;
    overflow: visible;
  }
  .iconly-bold-call2 {
    width: 2.313rem;
    height: 2.313rem;
    position: absolute;
    left: 105px;
    top: 340px;
  }
  .call2 {
    position: absolute;
    left: 3.85px;
    top: 3.85px;
    overflow: visible;
  }
  .iconly-bold-location {
    width: 3.125rem;
    height: 3.125rem;
    position: absolute;
    left: 240px;
    top: 772px;
  }
  .location {
    position: absolute;
    left: 7.29px;
    top: 4.17px;
    overflow: visible;
  }
  .per-domande-o-richieste-di-collaborazione-contattaci-direttamente-con-i-recapiti-qui-sotto-elencati- {
    color: #000000;
    text-align: center;
    font: 400 1.25rem "Helvetica Neue", sans-serif;
    position: absolute;
    left: 361px;
    top: 94px;
    width: 789px;
  }
  .iconly-bold-work {
    width: 3.375rem;
    height: 3.375rem;
    position: absolute;
    left: 78.75rem;
    top: 20.938rem;
  }
  .work {
    position: absolute;
    left: 0.281rem;
    top: 0.281rem;
    width: 2.875rem;
    height: 2.875rem;
    overflow: visible;
  }
}
@media screen and (max-width: 600px) {
  .macbook-pro-14----4,
  .macbook-pro-14----4 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----4 {
    background-image: url("sfondom.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 601px;
    height: 1203px;
    position: relative;
    overflow: hidden;
  }
  .rectangle-18 {
    background: #ffffff;
    border-radius: 0px 0px 15px 15px;
    width: 601px;
    height: 168.23px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .marsica-security {
    color: #000000;
    text-align: center;
    font: 700 48px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 143px;
    top: 60px;
    width: 394px;
    height: 49px;
  }
  .logo {
    width: 65px;
    height: 76.47px;
    position: absolute;
    left: 49px;
    top: 46px;
  }
  .rectangle-19 {
    background: #ffffff;
    border-radius: 30px;
    width: 118.46px;
    height: 70.35px;
    position: absolute;
    left: 50px;
    top: 750px;
  }
  .chevron-down-24 {
    position: absolute;
    left: 78px;
    top: 755px;
    width: 62px;
    height: 62px;
    transform: translate(0px, 0px);
    overflow: visible;
  }
  .azienda-nel-settore-dal-2004--se-vuoi-scoprire-di-pi--premi {
    color: #ffffff;
    text-align: left;
    font: 700 48px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 48.94px;
    top: 388.45px;
    width: 365.49px;
    height: 244.69px;
  }
  .chi-siamo {
    visibility: hidden;
  }
  .servizi {
    visibility: hidden;
  }
  .contattaci {
    visibility: hidden;
  }

  .macbook-pro-14----3,
  .macbook-pro-14----3 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----3 {
    background: #000000;
    width: 601px;
    height: 2605.86px;
    position: relative;
    overflow: hidden;
  }
  .rectangle-25 {
    background: #fef9f3;
    width: 601px;
    height: 1321px;
    position: absolute;
    left: 0px;
    top: -7px;
  }
  .i-nostri-servizi- {
    color: #000000;
    text-align: left;
    font: 700 48px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 91px;
    top: 85px;
    width: 338px;
    height: 3.188rem;
  }
  .rectangle-44 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 63px;
    top: 212px;
  }
  .rectangle-45 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 63px;
    top: 212px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .portierato-diurno-e-notturno {
    color: #ffffff;
    text-align: left;
    font: 500 24px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 78.29px;
    top: 345.05px;
    width: 123.87px;
    height: 96.34px;
  }
  .rectangle-27 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 326.03px;
    top: 212px;
  }
  .rectangle-46 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 326.03px;
    top: 212px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .controllo-accessi {
    color: #ffffff;
    text-align: left;
    font: 500 24px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 341.33px;
    top: 345.05px;
    width: 119.28px;
    height: 64.23px;
  }
  .rectangle-28 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 63px;
    top: 568.32px;
  }
  .rectangle-47 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 63px;
    top: 568.32px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .steward-per-eventi {
    color: #ffffff;
    text-align: left;
    font: 500 24px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 81.35px;
    top: 701.36px;
    width: 155.98px;
    height: 64.23px;
  }
  .rectangle-29 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 326.03px;
    top: 568.32px;
  }
  .rectangle-48 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 326.03px;
    top: 568.32px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .servizi-di-prevenzione-covid-19 {
    color: #ffffff;
    text-align: left;
    font: 500 24px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 348.97px;
    top: 701.36px;
    width: 155.98px;
    height: 96.34px;
  }
  .rectangle-30 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 63px;
    top: 923.11px;
  }
  .rectangle-49 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 63px;
    top: 923.11px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .hostess-e-servizi-eventi-privati {
    color: #ffffff;
    text-align: left;
    font: 500 24px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 78.29px;
    top: 1056.15px;
    width: 160.57px;
    height: 96.34px;
  }
  .rectangle-31 {
    background: #2e2d2d;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 326.03px;
    top: 923.11px;
  }
  .rectangle-50 {
    background: #ffd747;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 326.03px;
    top: 923.11px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
  }
  .servizi-antiincendi {
    color: #ffffff;
    text-align: left;
    font: 500 24px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 339.8px;
    top: 1056.15px;
    width: 136.1px;
    height: 64.23px;
  }
  .iconly-bold-shield-done {
    width: 59px;
    height: 59px;
    position: absolute;
    left: 438px;
    top: 74px;
  }
  .shield-done {
    position: absolute;
    left: 10.04px;
    top: 5.73px;
    overflow: visible;
  }
  .il-nostro-gruppo- {
    color: #ffffff;
    text-align: left;
    font: 700 48px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 63px;
    top: 1402px;
    width: 387px;
    height: 45px;
  }
  .rectangle-32 {
    background: #fef9f3;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 62.7px;
    top: 1539.97px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-38 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 62.7px;
    top: 1539.97px;
  }
  .operatori-qualificati-primo-soccorso {
    text-align: left;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 77.99px;
    top: 1569.02px;
    width: 183.51px;
    height: 183.51px;
  }
  .operatori-qualificati-primo-soccorso-span {
    color: #ffffff;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-primo-soccorso-span2 {
    color: #000000;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .rectangle-33 {
    background: #fef9f3;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 325.73px;
    top: 1539.97px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-39 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 325.73px;
    top: 1539.97px;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto {
    text-align: left;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 341.03px;
    top: 1569.02px;
    width: 189.63px;
    height: 90.23px;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto-span {
    color: #ffffff;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-prevenzione-incendio-rischio-alto-span2 {
    color: #000000;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .rectangle-34 {
    background: #fef9f3;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 62.7px;
    top: 1896.28px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-40 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 62.7px;
    top: 1896.28px;
  }
  .operatori-qualificati-servizi-di-controllo-eventi {
    text-align: left;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 81.05px;
    top: 1925.34px;
    width: 162.1px;
    height: 90.23px;
  }
  .operatori-qualificati-servizi-di-controllo-eventi-span {
    color: #ffffff;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-servizi-di-controllo-eventi-span2 {
    color: #000000;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .rectangle-35 {
    background: #fef9f3;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 325.73px;
    top: 1896.28px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-41 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 325.73px;
    top: 1896.28px;
  }
  .operatori-qualificati-addetti-area-tecnica {
    text-align: left;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 348.67px;
    top: 1925.34px;
    width: 174.34px;
    height: 120.81px;
  }
  .operatori-qualificati-addetti-area-tecnica-span {
    color: #ffffff;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-addetti-area-tecnica-span2 {
    color: #000000;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .rectangle-36 {
    background: #fef9f3;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 62.7px;
    top: 2251.07px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-42 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 62.7px;
    top: 2251.07px;
  }
  .operatori-qualificati-bls---blsd {
    text-align: left;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 77.99px;
    top: 2280.13px;
    width: 162.1px;
    height: 133.05px;
  }
  .operatori-qualificati-bls---blsd-span {
    color: #ffffff;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .operatori-qualificati-bls---blsd-span2 {
    color: #000000;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .rectangle-37 {
    background: #fef9f3;
    border-radius: 20px;
    width: 212.57px;
    height: 285.97px;
    position: absolute;
    left: 325.73px;
    top: 2251.07px;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .rectangle-43 {
    background: #2e2d2d;
    border-radius: 20px 20px 0px 0px;
    width: 212.57px;
    height: 105.52px;
    position: absolute;
    left: 325.73px;
    top: 2251.07px;
  }
  .adetti-qualificati-safety--security-expert {
    text-align: left;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
    position: absolute;
    left: 339.5px;
    top: 2280.13px;
    width: 116.22px;
    height: 105.52px;
  }
  .adetti-qualificati-safety--security-expert-span {
    color: #ffffff;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .adetti-qualificati-safety--security-expert-span2 {
    color: #000000;
    font: 500 24px/100% "Helvetica Neue", sans-serif;
  }
  .iconly-bold-3-user {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 459px;
    top: 1400px;
  }
  ._3-user {
    position: absolute;
    left: 2.87px;
    top: 11.47px;
    overflow: visible;
  }

  .macbook-pro-14----2,
  .macbook-pro-14----2 * {
    box-sizing: border-box;
  }
  .macbook-pro-14----2 {
    background: #000000;
    width: 601px;
    height: 1550px;
    position: relative;
    overflow: hidden;
  }
  .rectangle-61 {
    background: #fef9f3;
    width: 601px;
    height: 852px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .rectangle-60 {
    background: #000000;
    border-radius: 40px;
    width: 4.59px;
    height: 412.9px;
    position: absolute;
    left: 95px;
    top: 393.59px;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
  }
  .rectangle-62 {
    background: #000000;
    border-radius: 40px;
    width: 4.59px;
    height: 412.9px;
    position: absolute;
    left: 95px;
    top: 622.59px;
    transform-origin: 0 0;
    transform: rotate(-90deg) scale(1, 1);
  }
  .iconly-bold-message {
    width: 33.64px;
    height: 33.64px;
    position: absolute;
    left: 284px;
    top: 547px;
  }
  .message {
    position: absolute;
    left: 2.8px;
    top: 4.21px;
    overflow: visible;
  }
  .come-trovarci {
    color: #ffffff;
    text-align: center;
    font: 700 48px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 125px;
    top: 938px;
    width: 352px;
    height: 66px;
  }
  .recapiti-telefonici-3899258449-3283077246 {
    color: #000000;
    text-align: center;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 139px;
    top: 214px;
    width: 324px;
    height: 165px;
  }
  .recapiti-telefonici-3899258449-3283077246-span {
    color: #000000;
    font: 700 32px "Helvetica Neue", sans-serif;
  }
  .recapiti-telefonici-3899258449-3283077246-span2 {
    color: #000000;
    font: 700 20px "Helvetica Neue", sans-serif;
  }
  .recapiti-telefonici-3899258449-3283077246-span3 {
    color: #000000;
    font: 400 20px "Helvetica Neue", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com {
    color: #000000;
    text-align: center;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 123.87px;
    top: 437.34px;
    width: 353.26px;
    height: 99.39px;
  }
  .indirizzo-email-marsica-security21-gmail-com-span {
    color: #000000;
    font: 700 32px "Helvetica Neue", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com-span2 {
    color: #000000;
    font: 700 20px "Helvetica Neue", sans-serif;
  }
  .indirizzo-email-marsica-security21-gmail-com-span3 {
    color: #000000;
    font: 400 20px "Helvetica Neue", sans-serif;
  }
  .lavora-con-noi-marsica-security21-gmail-com {
    color: #000000;
    text-align: center;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 79px;
    top: 659px;
    width: 444px;
    height: 117px;
  }
  .lavora-con-noi-marsica-security21-gmail-com-span {
    color: #000000;
    font: 700 32px "Helvetica Neue", sans-serif;
  }
  .lavora-con-noi-marsica-security21-gmail-com-span2 {
    color: #000000;
    font: 400 20px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq- {
    color: #ffffff;
    text-align: center;
    font: 400 0px "undefined", sans-serif;
    position: absolute;
    left: 221px;
    top: 1056px;
    width: 160px;
    height: 125px;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span {
    color: #ffffff;
    font: 700 32px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span2 {
    color: #ffffff;
    font: 400 20px "Helvetica Neue", sans-serif;
  }
  .indirizzo-via-enea-merolli--n-94-celano--aq--span3 {
    color: #ffffff;
    font: 500 20px "Helvetica Neue", sans-serif;
  }
  .marsica-security2 {
    color: #000000;
    text-align: center;
    font: 700 48px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 113.12px;
    top: 52px;
    width: 395px;
    height: 44px;
  }
  .iconly-bold-call {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 201px;
    top: 274px;
  }
  .call {
    position: absolute;
    left: 2.6px;
    top: 2.6px;
    overflow: visible;
  }
  .iconly-bold-call2 {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 201px;
    top: 321px;
  }
  .call2 {
    position: absolute;
    left: 2.6px;
    top: 2.6px;
    overflow: visible;
  }
  .iconly-bold-location {
    width: 33.64px;
    height: 33.64px;
    position: absolute;
    left: 10.063rem;
    top: 1141px;
  }
  .location {
    position: absolute;
    left: 4.91px;
    top: 2.8px;
    overflow: visible;
  }
  .per-domande-o-richieste-di-collaborazione-contattaci-direttamente-con-i-recapiti-qui-sotto-elencati- {
    color: #000000;
    text-align: center;
    font: 400 16px "Helvetica Neue", sans-serif;
    position: absolute;
    left: 72px;
    top: 130.69px;
    width: 458.78px;
    height: 39.76px;
  }
  .iconly-bold-work {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 283px;
    top: 776px;
  }
  .work {
    position: absolute;
    left: 2.92px;
    top: 2.92px;
    width: 31px;
    height: 31px;
    overflow: visible;
  }
  .mappa {
    position: absolute;
    left: 110px;
    top: 1250px;
  }
  .mappa1 {
    width: 400px;
    height: 250px;
    border-radius: 20px;
  }
}
